# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Playwright
playwright-report/
test-results/
trace.zip
*.png

# VS Code
.vscode/
*.code-workspace

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Reports
reports/
*.json
*.html

# Environment variables
.env

# OS-specific files
.DS_Store
Thumbs.db